<link href="css_personalizado/capa.css" type="text/css" rel="stylesheet">
<link href="css_personalizado/fontes.css" type="text/css" rel="stylesheet">
<link href="css_personalizado/artistas.css" type="text/css" rel="stylesheet">
<link href="css_personalizado/eventos.css" type="text/css" rel="stylesheet">
<link href="css_personalizado/geral.css" type="text/css" rel="stylesheet">
<link href="css_personalizado/lista.css" type="text/css" rel="stylesheet">
<link href="css_personalizado/login.css" type="text/css" rel="stylesheet">
<link href="css_personalizado/painel.css" type="text/css" rel="stylesheet">
<link href="css_personalizado/cadastros.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="/bootstrap-4.1.1/dist/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<script defer src="fontawesome-5.11.2/js/brands.js"></script>
<script defer src="fontawesome-5.11.2/js/solid.js"></script>
<script defer src="fontawesome-5.11.2/js/fontawesome.js"></script>
<link href="fontawesome-5.11.2/css/all.css" rel="stylesheet">
<script defer src="fontawesome-5.11.2/js/all.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<meta charset="UTF-8">