<meta charset="UTF-8">
<div class="container" style="background-color: #FFFFFF; width: 60%">
    <div id="campo-cadastro">
        <span class="texto-cadastro">Cadastro de usuário</span>
        <img src="imagens/clear.png" class="clear-page"/>
        <form name="novoUsuario" action="includes/conexao_usuario.php" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text"  name="nome_usuario" value="" class="form-control"placeholder="Digite seu nome" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Sobrenome</label>
                <input type="text"  name="sobrenome_usuario" value="" class="form-control"placeholder="Digite seu sobrenome" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Data de Nascimento</label>
                <input type="date"  name="nasc_usuario" value="" class="form-control"placeholder="Data de Nascimento" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Endereço de email</label>
                <input type="email"  name="email_usuario" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email" required>
                <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Telefone</label>
                <input type="text"  name="celular_usuario" value="" class="form-control"placeholder="Telefone" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Gênero</label>
                <select class="form-control" id="genero" name="genero_usuario">
                    <option value="0">Masculino</option>
                    <option value="1">Feminino</option>
                    <option value="2">Outros</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Usuário</label>
                <input type="text"  name="usuario" value="" class="form-control"placeholder="Este usuário será usado para seu login na plataforma" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Plano</label>
                <select class="form-control" id="modal" name="modal_usuario">
                    <option value="0">Artista</option>
                    <option value="1">Adm. de Eventos</option>
                    <option value="2">Master</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputPassword4">Senha</label>
                <input type="password" name="senha" class="form-control" id="inputPassword1" placeholder="Senha" required>
            </div>
            <td><input type="hidden" name="acao" value="inserir" /></td>
            <td><input type="submit" value="Enviar" name="Enviar" class="btn btn-primary"/></td>
        </form>
    </div>
</div>