
<meta charset="UTF-8">
<div class="container" style="background-color: #FFFFFF; width: 60%">
    <div id="campo-cadastro">
        <form name="dadosEvento" action="includes/conexao_evento.php" enctype="multipart/form-data" method="POST">

            <div id="texto-inserir">
                <span class="texto-cadastro">Informação do evento</span>
            </div>
            <img src="imagens/clear.png" class="clear-page"/>
            <!-- DADOS DE INFORMAÇÃO DO EVENTO -->
            <div class="form-group">
                <label for="exampleInputEmail1">Nome do Evento</label>
                <input type="text" name="nome_evento" value="" class="form-control" placeholder="Nome do Evento">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Data do Evento</label>
                <input type="date" name="data_evento" value="" class="form-control" placeholder="Data do Evento">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Local do Evento</label>
                <input type="text" name="local_evento" value="" class="form-control" placeholder="Descreva informações sobre o local do evento">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Google Maps (Link)</label>
                <input type="text" name="link_local" value="" class="form-control" placeholder="Adicione o link da localização do evento no Google Maps">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Descrição Evento</label>
                <textarea class="form-control" name="descricao_evento" rows="3" maxlength="500" placeholder="Fale um pouco sobre o evento"></textarea>
            </div>
            <div class="form-group">
                <label for="FormControlFile1">Banner do evento:</label>
                <input type="file" name="banner_evento" class="form-control-file">
            </div>

            <div id="texto-inserir">
                <span class="texto-cadastro">Mídias do evento</span>
            </div>
            <img src="imagens/clear.png" class="clear-page"/>
            <!-- MIDIAS DO EVENTO -->

            <div class="form-group">
                <label for="exampleInputEmail1">Canal de Youtube</label>
                <input type="text" name="youtube_evento" value="" class="form-control" placeholder="Canal de Youtube">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Vídeo Preferido</label>
                <input type="text" name="video_evento" value="" class="form-control" placeholder="Link do seu vídeo preferido sobre o evento no YouTube">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Usuário do Instagram</label>
                <input type="text" name="instagram_evento" value="" class="form-control" placeholder="Usuário do Instagram">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Usuário Twitter</label>
                <input type="text" name="twitter_evento" value="" class="form-control" placeholder="Usuário Twitter">
            </div>

            <div id="texto-inserir">
                <span class="texto-cadastro">Contato do evento</span>
            </div>
            <img src="imagens/clear.png" class="clear-page"/>
            <!-- DADOS DE CONTATO DO EVENTO -->

            <div class="form-group">
                <label for="exampleInputEmail1">Telefone</label>
                <input type="text" name="contato_evento" value="" maxlength="11" class="form-control" placeholder="Telefone para contato">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Telefone 2</label>
                <input type="text" name="contato2_evento" value="" class="form-control" maxlength="11" placeholder="Segundo telefone para contato">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Endereço de email</label>
                <input type="email" name="email_evento" value="" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="Seu email">
                <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.
                </small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Contato de WhatsApp</label>
                <input type="text" name="whatsapp_evento" value="" class="form-control" maxlength="11" placeholder="Contato de WhatsApp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Facebook Evento</label>
                <input type="text" name="facebook_evento" value="" class="form-control"  placeholder="Facebook Evento">
            </div>

            <td><input type="hidden" name="acao" value="inserirEvento"/></td>
            <td><input type="submit" value="Enviar" name="Enviar" class="btn btn-primary"/></td>

        </form>
    </div>
</div>