/*CSS PÁGINA DO ARTISTA*/
#circle-artista {
    background-color: #aaa;
    border-radius: 50%;
    width: 170px;
    border-style: solid;
    border-width: 5px;
    border-color: #FF9900;
    height: 170px;
    overflow: hidden;
    position: absolute;
}

#circle-artista img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.nome-artista{
    font-family: PantonNarrowBlackCapss;
    font-size: 3em;
    font-style: italic;
    height: 60px;
    margin-left: 190px;
    display: block;
}
#info-artista{
    position: relative;
    height: 170px;
    margin-top: 30px;
}
.atuacao-artista{
    font-family: PantonDemoLight;
    font-size: 1.3em;
    font-style: italic;
    margin-left: 190px;
    display: block;
}
.localizacao-artista{
    font-family: PantonDemoLight;
    font-size: 1.3em;
    font-style: italic;
    margin-left: 190px;
    display: block;
}
#botao-mensagem{
    margin-left: 190px;
}
.botao-mensagem{
    font-family: PantonNarrowBlackCapss;
    font-size: 1em;
    font-style: italic;
    background: #FF9900;
    border: none;
    color: #FFF;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
}
.botao-mensagem:hover{
    background: #f1b356;
}

/*SUBMENU DE ARTISTA*/
.submenu-artista{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 30px;
    min-height: 30px;
    margin-top: 40px;
}
.submenu-artista a{
    width: 15%;
    text-align: center;
    font-family: PantonDemoLight;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: #1b1e21;
}
.submenu-artista a:hover{
    font-style: italic;
    color: #000;
    font-weight: bold;
}

/*INFORMAÇÕES DE ARTISTA*/
#info-nome-artista {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 10px 0 10px 0;
}
.info-nome-artista{
    font-family: PantonNarrowBlackCapss;
    font-size: 1.1em;
    width: 35%;
}
.separador-info{
    font-family: PantonNarrowBlackCapss;
    font-size: 1.1em;
}
#descricao-info{
    font-family: PantonDemoLight;
    font-size: 1em;
}

/*MIDIA DE ARTISTA*/
#youtube-midia{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.youtube-midia{
    font-family: PantonNarrowBlackCapss;
    font-size: 1.5em;
    padding-right: 10px;
}
#video-midia-artista{
    display: block;
}
#botao-todos{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#redes-artista{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rede-artista{
    padding: 0 15px 15px 15px;
    width: 25%;
}
#rede-artista img{
    max-width: 100%;
    max-height: 40px;
}
.botao-rede{
    font-family: PantonNarrowBlackCapss;
    font-size: 1em;
    font-style: italic;
    background: #FF9900;
    border: none;
    color: #FFF;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
}
#img-rede{
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.rede-artista{
    height: 50px;
}
#rede-desc{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
    font-family: PantonDemoLight;
    font-size: 1em;
    vertical-align: middle;
    line-height: 45px;
}
.botao-rede:hover{
    background: #f1b356;
}

/*CONTATO DE ARTISTA*/
#email-artista {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 10px 0 10px 0;
}
#contatos-artista {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 25px 0 35px 0;
}
.email-artista{
    font-family: PantonNarrowBlackCapss;
    font-size: 1.5em;
    width: 100%;
}
.contato-artista{
    font-family: PantonDemoLight;
    font-size: 1.8em;
    width: 50%;
    font-weight: bold;
}