/* CSS CADASTROS */
#campo-cadastro{
    margin-top: 20px;
}
.texto-cadastro{
    font-family: PantonNarrowBlackCapss;
    font-size: 1em;
    font-style: italic;
    margin-top: 20px;
}
#texto-inserir{
    margin-top: 50px;
    text-align: center;
}