/* CSS DA CAPA */
.pesquisa-capa{
    height: 740px;
    background-repeat-y: no-repeat;
    background-image: url("../imagens/pesquisa-index.png");
}
.capa-inicio{
    background: yellow;
    width: 40%;
    text-align: center;
    margin: auto;
}
.menu-navegacao{
    width: 100%;
    font-size: 1.2em;
}
.menu-navegacao .mr-auto,
.menu-navegacao .mx-auto{
    float: right;
}
.menu-navegacao .nav-link{
    color: white;
}
.navbar-light .navbar-nav .nav-link{
    color: white!important;
}
#barra-index{
    width: 100%;
}
#barra-index .barra-capa{
    margin-top: 15px;
    width: 100%;
}
.banner-artista-capa{
    float:right;
}
#imagem-artista img{
    float: left;
    height: 200px;
}
#marcas-capa{
    width: 100%;
    display: flex;
}
#marcas-capa img{
    width: 100%;
}
#premium-capa img{
    width: 100%;
    margin-top: 70px;
}
#campo-pesquisa-index{
    width: 55%;
}
#campo-pesquisa-index .botao-pesquisa {
    cursor: pointer;
    float: right;
    width: 25%;
    color: #212529;
    border: none;
    height: 50px;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid;
    border-color: #CCC;
}
#campo-pesquisa-index .texto-pesquisa {
    border: 2px solid #CCC;
    width: 70%;
    color: #212529;
    height: 50px;
    border-radius: 30px;
    padding: 23px;
}
.texto01{
    float: left;
    font-family: PantonNarrowBlackCapss;
    font-size: 3em;
    font-style: italic;
    color: #FFFFFF;
    font-weight: bold;
    width: 100%;
    margin-top: 100px;
}
.texto02{
    float: left;
    font-family: PantonNarrowBlackCapss;
    font-size: 1em;
    color: #FFFFFF;
    margin-bottom: 13px;
}

#footer-geral{
    background-color: #FF9900;
    height: 100px;
    text-align: center;
    margin-top: 50px;
    bottom: 0;
}
#footer-geral img{
    margin-top: 30px;
}