/*CSS PÁGINA DO EVENTO*/

#banner-evento img {
    bottom: 0;
    width: 100%;
}
.nome-evento{
    font-family: PantonNarrowBlackCapss;
    font-size: 3em;
    font-style: italic;
    height: 60px;
    float: left;
}
#info-evento{
    position: relative;
    height: auto;
    margin-top: 30px;
}
.data-evento{
    float: right;
    font-family: PantonDemoLight;
    font-size: 3em;
    font-style: italic;
}
.localizacao-evento{
    float: left;
    font-family: PantonDemoLight;
    font-size: 2.5em;
    font-style: italic;
}
.botao-maps{
    font-family: PantonNarrowBlackCapss;
    font-size: 1em;
    font-style: italic;
    background: #FF9900;
    border: none;
    color: #FFF;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
}
.botao-maps:hover{
    background: #f1b356;
}
#botao-maps{
    width: 250px;
    float: left;
    margin-left: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 60px;
}
#botao-mensagem{
margin-left: 190px;
}


/*SUBMENU DE EVENTO*/
.submenu-evento{
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    height: 30px;
    min-height: 30px;
    margin-top: 50px;
    width: 100%;
}
.submenu-evento a{
    width: 15%;
    text-align: center;
    font-family: PantonDemoLight;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: #1b1e21;
}
.submenu-evento a:hover{
    font-style: italic;
    color: #000;
    font-weight: bolder;
}

#descricao-evento{
    font-family: PantonDemoLight;
    font-size: 1em;
}

/*MIDIA DE evento*/
#youtube-midia{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.youtube-midia{
    font-family: PantonNarrowBlackCapss;
    font-size: 1.5em;
    padding-right: 10px;
}
#video-midia-evento{
    display: block;
}
#botao-todos{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
#redes-evento{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rede-evento{
    padding: 0 15px 15px 15px;
    width: 30%;
}
#rede-evento img{
    max-width: 100%;
    max-height: 40px;
}
.botao-rede{
    font-family: PantonNarrowBlackCapss;
    font-size: 1em;
    font-style: italic;
    background: #FF9900;
    border: none;
    color: #FFF;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
}
#img-rede{
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.rede-evento{
    height: 50px;
}
#rede-desc{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
    font-family: PantonDemoLight;
    font-size: 1em;
    vertical-align: middle;
    line-height: 45px;
}
.botao-rede:hover{
    background: #f1b356;
}

/*CONTATO DE EVENTO*/
#email-evento {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 10px 0 10px 0;
}
#contatos-evento {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 25px 0 35px 0;
}
.email-evento{
    font-family: PantonNarrowBlackCapss;
    font-size: 1.5em;
    width: 100%;
}
.contato-evento{
    font-family: PantonDemoLight;
    font-size: 1.8em;
    width: 50%;
    font-weight: bold;
}

/*ARTISTAS DO EVENTO*/
#lista-artistas-evento{
    display:inline-block;
    width: 100%;
    margin-top: 50px;
}
#titulo-artistas {
    width: 100%;
    font-family: PantonNarrowBlackCapss;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
#mini-artista {
    width: 25%;
    height: 100%;
}
#lista-mini-artistas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
}
.nome-mini-artista{
    font-size: 1em;
    width: 100%;
    margin-top: 330px;
}
#dados-mini-artista{
    align-items: center;
    display: flex;
    height: 50px;
    font-family: PantonDemoLight;
    font-size: 1em;
    text-align: center;
}
#circle-mini-artista {
    background-color: #aaa;
    border-radius: 50%;
    width: 170px;
    border-style: solid;
    border-width: 5px;
    border-color: #FF9900;
    height: 170px;
    overflow: hidden;
    position: absolute;
    margin-left: 10px;
}
#circle-mini-artista img {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}