@font-face {
    font-family: PantonNarrowBlackCapss;
    src: url(../fontes/PantonNarrowDemo-Black.otf);
}
@font-face {
    font-family: PantonBlackItalicCaps;
    src: url(../fontes/PantonNarrowDemo-BlackItalic.otf);
}
@font-face {
    font-family: PantonDemoLight;
    src: url(../fontes/PantonDemo-Light.otf);
}