/*CSS LISTA DOS ARTISTAS*/
#circle-artista {
    background-color: #aaa;
    border-radius: 50%;
    width: 170px;
    border-style: solid;
    border-width: 5px;
    border-color: #FF9900;
    height: 170px;
    overflow: hidden;
    position: absolute;
}

#circle-artista img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.nome-artista{
    font-family: PantonNarrowBlackCapss;
    font-size: 3em;
    font-style: italic;
    height: 60px;
    margin-left: 190px;
    display: block;
}
#info-artista{
    position: relative;
    height: 170px;
    margin-top: 30px;
}
.atuacao-artista{
    font-family: PantonDemoLight;
    font-size: 1.3em;
    font-style: italic;
    margin-left: 190px;
    display: block;
}
.localizacao-artista{
    font-family: PantonDemoLight;
    font-size: 1.3em;
    font-style: italic;
    margin-left: 190px;
    display: block;
}
#botao-mensagem{
    margin-left: 190px;
}
.botao-mensagem{
    font-family: PantonNarrowBlackCapss;
    font-size: 1em;
    font-style: italic;
    background: #FF9900;
    border: none;
    color: #FFF;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
}
.botao-mensagem:hover{
    background: #f1b356;
}

hr{
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
    border: 0!important;
    border-top: 5px solid!important;
    color: #ccc!important;
    border-radius: 5px;
}

/*CSS LISTA DOS EVENTOS*/
#dados-evento {
    width: 31%;
    float: left;
    padding-left: 15px;
}
#botão-lista-evento {
    width: 29%;
    float: right;
    /* margin-left: 20px; */
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 60px;
}
.botão-lista-evento {
    font-family: PantonNarrowBlackCapss;
    font-size: 1em;
    font-style: italic;
    background: #FF9900;
    border: none;
    color: #FFF;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
}
#lista-evento {
    position: relative;
    height: 90px;
    margin-top: 30px;
}
#banner-evento-lista{
    width: 40%;
    float: left;
}
#banner-evento-lista img {
    bottom: 0;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #FF9900;
}
.nome-evento-lista {
    font-family: PantonNarrowBlackCapss;
    font-size: 2em;
    font-style: italic;
    float: left;
    width: 60%;
    padding-left: 15px;
}
.data-evento-lista {
    font-family: PantonDemoLight;
    font-size: 1em;
    display: block;
    font-style: italic;
}
.localizacao-evento-lista{
    font-family: PantonDemoLight;
    font-size: 1em;
    display: block;
    font-style: italic;
}

#campo-pesquisa{
    text-align: center;
    margin-top: 20px;
}
.texto-pesquisa{
    border: 3px solid;
    color: #f90;
    width: 70%;
    height: 50px;
    border-radius: 30px;
    padding: 23px;
}
.botao-pesquisa{
    cursor: pointer;
    float: right;
    width: 25%;
    color: #FFFFFF;
    border: none;
    height: 50px;
    background-color: #ff9900;
    border-radius: 30px;
}
#sem-registro{
    text-align: center;
    font-family: PantonNarrowBlackCapss;
    font-size: 1.8em;
    font-style: italic;
    width: 100%;
    color: #ff9900;
    margin-top: 100px;
}