/* CSS LOGIN */

#area-login {
    width: 50%;
    height: 400px;
    border-radius: 30px;
    border: 1px solid;
    text-align: center;
    color: #ff9900;
    margin-top: 50px;
}
#dados-login {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1em;
    vertical-align: middle;
    line-height: 45px;
}
.botao-login {
    font-family: PantonNarrowBlackCapss;
    font-size: 1em;
    font-style: italic;
    background: #FF9900;
    border: none;
    color: #FFF;
    border-radius: 20px;
    width: 250px;
    cursor: pointer;
}
#content-login{
    margin-top: 12%;
}
.input-login {
    width: 100%;
    margin: 10px 0;
    border-radius: 50px;
    border: 2px solid;
    color: #ff9900;
    padding-left: 16px;
}
h5 {
    color: #ff9900!important;
    text-decoration: underline;
}