/* CSS PAINEL */
#painel-geral{
    width: 80%;
    height: 500px;
    background: #FFFFFF;
    border-radius: 20px;
    margin: auto;
}
.nome-painel{
    font-family: PantonNarrowBlackCapss;
    font-size: 2em;
    font-style: italic;
    display: inline-block;
    margin-top: 40px;
    width: 100%;
}
#lista-painel{
    width: 45%;
    margin: 70px 2.5%;
    float: left;
    font-family: PantonDemoLight;
    font-size: 1.2em;
}
#item-coluna{
    width: 100%;
    border-bottom: 2px solid;
    display: inline-block;
    height: 52px;
    line-height: 50px;
}
.nome-item{
    float: left;
    font-family: PantonNarrowBlackCapss;
}
.tipo-painel{
    float: left;
}

.botao-ver{
    background-repeat: no-repeat;
    background-image: url("../imagens/icones/view.png");
    background-position: center;
    background-color: forestgreen;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    margin: 2px;
    cursor: pointer;
}
.botao-adicionar{
    background-repeat: no-repeat;
    background-image: url("../imagens/icones/add-user.png");
    background-position: center;
    background-color: cornflowerblue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    margin: 2px;
    cursor: pointer;
}
.botao-editar{
    background-repeat: no-repeat;
    background-image: url("../imagens/icones/edit.png");
    background-position: center;
    background-color: #ffc107;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    margin: 2px;
    cursor: pointer;
}
.botao-excluir{
    background-repeat: no-repeat;
    background-image: url("../imagens/icones/delete.png");
    background-position: center;
    background-color: indianred;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    margin: 2px;
    cursor: pointer;
}
#botao-painel{
    width: 40px;
    height: 40px;
    border: none;
    margin: 2px;
    float: right;
}
.botao-criar {
    background: green;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
}